	/*Mains*/
html, body{
	width: 100%;
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	height: fit-content;
	background: #080808 url(images/main-bg.png) repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #2B2B2B;
	max-width: 100%;
	min-width: 0%;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}
p{
	font-size: 20px;
}
a {
	color: #4E4E4E;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

hr {
	display: none;
}


	/** HEADER */
#header{
	overflow: hidden;
	width:100%;
	min-height:10%;
	background: url(images/gradient-bg.png) no-repeat center top;
	margin: 0%;
	border-bottom:2px #161616 solid;
	border-radius: 3px;
}

#title a {
	padding: 10px;
	float: left;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.1em;
	color: #FFFFFF;
}
#title, #menu{
	max-height: 200px;
}
	/** MENU */

#menu {
	float: right;
	width: 50%;
	min-width: 0%;
	padding: 10px;
	
}

#menu ul {
	float: right;
	max-height: 100px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin-left: auto;
	margin-right: 4px;
}

#menu a {
	display: block;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.10em;
	font-weight: 600;
	color: #B6B6B6;
}

#menu .active a
{
	color: #a45b5b;
}

#menu a:hover {
	cursor: pointer;
	text-decoration: underline;
}


	/* Footer */
#footer {
	width: 100%;
	max-width: 100%;
	background-color: #161616;
	border-top: 6px solid #000000;
}

#footer p {
	color: #4E4E4E;
}

#copyright
{
	width: 100%;
	max-width: 100%;
	align-items: center;
}

#copyright p
{
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,1);
}

#copyright a
{
	color: #4E4E4E;
}
.fa-brands.fa-github,.fa-brands.fa-linkedin,.fa-brands.fa-instagram,.fa-brands.fa-twitter{
	size:250px;
	margin-right:10px;
	
}
.fa-brands.fa-linkedin{
	color:dodgerblue;

}
.fa-brands.fa-instagram{
	color:rgb(186, 59, 89);
}
.fa-brands.fa-twitter{
	color: aqua;
	
}

	/*Contact page*/


.contactContainer{
	height: 600px;
	width: 90%;
	margin: 5%;
	padding: 20px;
	overflow: auto;
	border: 3px solid #161616;
	border-radius: 25px;
	background-color: #B6B6B6;
	position: relative;
	
}
.contactSide{
	width: 40%;
    float: left;
    padding: 20px;	
}
.contactContainer,.contactSide{
	max-width: 100%;
	max-height: 100%;
}

fieldset {
	border: none transparent;
	outline: none;
	background-color:rgb(81, 138, 81) ;
  }
  input[type="submit"]{
	font-style: oblique; border-radius: 10%;background-color: dimgrey;color: aliceblue;
  }
  #fName,#email,#messageBox{
	border: none transparent;
	outline: none;
	background-color:rgb(81, 138, 81) ;
	border-bottom:1px solid;
  }
  legend {
	background-color: rgb(27, 14, 14);
	color: white;
	padding: 5px 10px;
  }
  
  input {
	margin: 5px;
  }
#contactHeader{
	margin-top: 2%;
	font-size:30px;
	margin-bottom: 2%;
}

#messageBox{
	height: 50px;
}
#contactLogo{
	width: 50px;
	margin: 3%;
}

::placeholder{
	font-family: Arial, Helvetica, sans-serif;
	color: #161616;
}

	/*About me page*/
	#aboutMe{
		color: white;
		background-image: url(/images/pexels-hasan-albari-1229861.jpg);
		width: 95%;
		padding:10px;
	}

	.firstDeets{
		width: 100%;
		max-width: 100%;
		position: relative;
		overflow: hidden;

	}
	#mainTextContainer{
		width:90%;
		max-width: 100%;
		height:350px;
		overflow: hidden;
		background-image: url(/images/pexels1.jpg);
		background-repeat: no-repeat;
		background-position: right;
		
	}

	#mainText{
		position: absolute;
		left: 10px;
		font-family: 'Borel';font-size: 50px;
	}
	pre{
		font-size: 25px;
		font-family: 'Times New Roman', Times, serif;
		overflow-x: auto;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
	  }
	#heading{
		display: inline-block;
		font-size: 35px;
		font-weight: bold;
		font-style: oblique;
		font-family: 'Times New Roman', Times, serif;
	}
	.educationSection{
		width: 100%;
		max-width: 100%;
		overflow: hidden;
	}
	.eduSide{
		width: 49%;
		float: left;
		
	}
	.skills{
		width: 20%;
		float: left;
		
	}
	.verticalLine{
		border-left: 2px #4E4E4E solid;
	}